[2020-08-07 21:43] davner opened #1 "Which Motion Controller?"
# Which Motion Controller?
We are in the middle of deciding between which motion controller to use. Below is some initial thoughts from various people.

## How To Use This Issue
Use this space to keep information in one spot. This is to solve the various email chains we have discussing pros and cons of various motion controllers.

## Motion Control Axes
We need **7** control axes:
- Focus actuator

[2020-08-10 00:57] alexrgibbs commented on #1
How about adding absolute linear encoders where the LVDTs are, and hook the encoders directly to the motion controllers so they can independently take care of getting the actuators to the commanded positions.  This should be faster and more reliable than using the LVDTs, if the LVDTs are independently read like I think they are (?).  A bonus is that you could tell the motion controllers to activel

[2020-08-10 05:03] davner opened #2 "How about adding absolute linear encoders where the LVDTs are, and hook the encoders directly to the motion controllers so they can independently take care of getting the actuators to the commanded positions. This should be faster and more reliable than using the LVDTs, if the LVDTs are independently read like I think they are (?). A bonus is that you could tell the motion controllers to actively hold the positions, if desired. One possible issue is the environment, but since they don't need to move far they would probably stay pretty clean. You'd want magnetic ones instead of optical for this reason, and due to the obvious issue of stray light. I don't know how precise the positioning needs to be either, but I believe magnetic encoders can get to 1-10 um."
How about adding absolute linear encoders where the LVDTs are, and hook the encoders directly to the motion controllers so they can independently take care of getting the actuators to the commanded positions.  This should be faster and more reliable than using the LVDTs, if the LVDTs are independently read like I think they are (?).  A bonus is that you could tell the motion controllers to activel

[2020-08-10 05:03] davner opened #3 "Adding absolute linear encoders where the LVDTs are."
## Description
How about adding absolute linear encoders where the LVDTs are, and hook the encoders directly to the motion controllers so they can independently take care of getting the actuators to the commanded positions.  This should be faster and more reliable than using the LVDTs, if the LVDTs are independently read like I think they are (?).  A bonus is that you could tell the motion control

[2020-08-10 05:04] #2 closed

[2020-08-10 05:17] davner commented on #1
@alexrgibbs I created a new issue from your comment. Let's continue the conversation about LVDTs there.

[2020-08-14 07:01] davner opened #4 "Condensation on dewar window"
## Description
Condensation can form on the dewar window during the right conditions. MTNOPS staff have installed a new dry air system which might resolve this problem.

## Solution
We will find out more when temperatures drop and 90Prime goes back on.

![image](https://user-images.githubusercontent.com/46757810/90222249-8f8c0900-ddc0-11ea-9427-0ec5c9fc1819.png)

[2020-08-14 07:08] davner opened #5 "Noise in electronics"
## Description
Joe H

## Possibly Solved
New electronics will be used for 90Prime v2.0 and this issue might not exist anymore.

<img width="757" alt="Screen Shot 2020-08-13 at 11 55 22 PM" src="https://user-images.githubusercontent.com/46757810/90222713-7b94d700-ddc1-11ea-84d3-611d9fb4723b.png">

[2020-08-14 07:16] davner opened #6 "Replacing bent actuator"
## Description

The design of how the 3 actuators and their linkage mechanisms are used to focus has been a problem in the past. There have been several occasions where the actuator rods have bent because the linkages were able to flip into a bad position causing misalignment in the axial direction.

<img width="497" alt="Screen Shot 2020-08-13 at 11 54 43 PM" src="https://user-images.githubuserco

[2020-08-14 07:17] davner opened #7 "Replace damaged actuator"
## Description

The design of how the 3 actuators and their linkage mechanisms are used to focus has been a problem in the past. There have been several occasions where the actuator rods have bent because the linkages were able to flip into a bad position causing misalignment in the axial direction.

<img width="497" alt="Screen Shot 2020-08-13 at 11 54 43 PM" src="https://user-images.githubuserco

[2020-08-14 22:53] dsand opened #8 "Replace or refigure dewar window?"
We know there is a scratch of some sort in the dewar window.  Is it just in the AR coating, or is it in the glass?

The answer to this question will decide the next step:  window replacement or simply get a new AR coating.

[2020-08-14 23:29] dsand opened #9 "Selection of new guide camera"
We prefer something with a slightly bigger field of view than the current guide camera.

Must have nearly the same form factor.

Anything else I'm missing?

[2020-08-14 23:37] dsand opened #10 "Solid model for focus mechanism"
Right now we cannot recover the original solid model of the 90Prime focus mechanism.

We must either find it, or build it up from the basic model we do have.

This one is largely for Bruce, but I will keep an eye on it.

[2020-08-14 23:52] dsand opened #11 "New dewar or stick with the old?"
Mike Lesser is looking into the possibility of using a dewar in his lab for the 'new' 90Prime.  This may minimize down time, if feasible.  It might also be expensive.

[2020-08-15 00:05] dsand opened #12 "Filter wheel issues -- what are they?"
Lets figure out all the issues with the filter wheel.  Some seem to be hardware, and some seem to be software.  Lets list them in this issue, and perhaps create new issues for each as we try to address them.

[2020-08-24 16:18] dsand opened #13 "Can LN2 Fill Position be improved"
This is more of a Mtn Ops issue.

The fill position for the dewar is awkward.  If one is too short it is very hard to do.  In order to smooth out operations this should be rectified.

[2020-08-24 16:27] dsand opened #14 "Figure out computing needs for upgraded 90Prime"
1. NUC to serve website.
2. New Azcam computer?
3. New Observer Computer?

[4] On mountain data reduction computer for Sand's group.  Hopefully more can be accomodated.

[2020-08-24 16:55] dsand opened #15 "Image Quality for 90Prime Operations"
What do we want out of a 90Prime reduction pipeline associated with operations?  what do I mean by this?

I mean a pipeline that is capable of keeping an eye on data quality and conditions in near real time to find problems early and to catalog conditions on the mountain.  Ideally it would monitor:

1. Noise level in bias frames.
2. Counts in flat frames.
3. Image quality (i.e. seeing) across the

[2020-08-24 17:44] davner commented on #15
Would people be interested in sky brightness? I would find it useful for monitoring conditions on site.

It would require source extraction using something like photutils or sextractor. Then astrometric image registration using some code like SCAMP and pass those stars to a catalog to find the zeropoint of the field (theres another piece of information we can supply). Then use this basic equation

[2020-08-24 17:46] dsand commented on #15
Yes, I agree.  I sorta meant this by #4 in my initial note.  Also sounds good that we should make this a general tool for the imagers.  This sounds like a good project for someone.

One other thing to add:
5. Pointing accuracy.  Or something similar.  Using scamp.

[2020-08-25 17:52] cjastro opened #16 "Computing upgrades to consider for 90 prime"
The new 90 prime will have new computing requirements and the old equipment should be refreshed.

1) we should upgrade the 90" to have a NUC "web presence" computer as we did at the 61 and VATT.  This computer is typically a windows computer that we use HyperV to install several linux VM's. One of those VM's is for web, and another is for other systems administration processes.  The systems we use

[2020-08-26 15:07] pndaly commented on #16
Can we get some idea of data capacity required? I'm told with 4x4 binning a 90Prime image is 32Mb. Assuming 300s exposures (and no overhead), that is a maximum of 384Mb/hour. Optimistically, assume a 10-hour night and round up a bit we
get 4Gb/night. How does that compare with current disk usage? If I also assume 250 nights/year, that's 1 Tb / year. Are these
figures reasonable?

[2020-08-26 15:12] dsand commented on #16
Lets make that a bigger number.  CSS has ~30 sec exposures.  Our transient program will have something similar, or maybe we'll go a little longer so we're not overhead dominated.  Lets assume 5-10 Tb/year.  hard disks are cheap, lets be safe.

[2020-08-26 15:17] pndaly commented on #16
Notwithstanding the above, many astronomers use MacBooks and bring them to the dome. Is there any reason we should not consider replacing the current observer computer with a MacMini and a big monitor or two? If the "observer computer" is generally used as a portal to other systems, I don't see any issue. However, if software runs on the observer computer, it would have to be Mac-compatible.

[2020-08-26 15:59] pndaly commented on #14
1 - Yes, 2 - No, 3 - See #16

[2020-08-26 16:02] dsand commented on #14
this issue may be defunct now with CJ's open issue.  I'm going to close it, but feel free to reopen if I got it wrong.

[2020-08-26 16:02] #14 closed, assigned to dsand, pndaly, davner

[2020-08-26 17:36] lund0946 commented on #15
I see this as two separate pieces of software.

A calibration monitor that keeps track of biases and flats.  It monitors the noise level in the biases, the counts in the flats, and also the number that are taken in each binning mode or binning/filter combination for flats.

Then a nighttime data quality assessment monitor that measures the image quality, sky background, pointing offset, and image

[2020-08-26 17:55] dsand commented on #15
I don't have strong feelings about whether this should be one or two pieces of software, as long as the 5 or 6 metrics mentioned above are databased somehow.

[2020-08-26 18:29] davner commented on #16
1. Yes, sooner we get it the sooner I can finish a chunk of the 90prime development. The next step would be deciding who purchases it, from what account, and what model.

2. I support exploring the idea of have a mac mini with a large desktop. There is some software running locally ie optoserver that would need to be capable to run on the mac. Sounds like something for Docker hehe.

3. Yes, no mor

[2020-08-26 18:31] davner commented on #15
Yea, it could just be one package that does different operations for different IMAGETYPEs. @dsand any new postdocs/grads that would want to take lead on this?

[2020-08-26 18:31] dsand commented on #16
@davner: Let me get you an account number tonight.

[2020-08-26 20:05] lund0946 commented on #15
I can work on this a bit while I'm up on the next ARTN run focusing on the functions for measuring everything.

- We start with a very basic reduction pointing to the science image, biases, and flats.  This can record bias noise levels and flat counts.
- Then make function to get the astrometric solution for the image and save the pointing offset information.
- Then call SourceExtractor or photuti

[2020-08-28 19:56] mplesser commented on #9
Features we want:
- liquid cooling to keep heat out of top box
- larger sensor size than current 6.6 mm per side (512x512 13.5 um pixels)
- USB3 or ethernet interface to eliminate PC at top box
- reasonably long exposure times (many CMOS cameras are limited to a few seconds)
- prefer CMOS over CCD as CCDs will be harder to support
- frame rate of at least 2 Hz (Bok does not respond quickly)
- Pixe

[2020-08-28 20:12] dsand commented on #9
Just curious, why will CCDs be hard to support?

[2020-08-28 20:17] mplesser commented on #9
Another major CCD foundry just closed in June (ON Semiconductor which bought the old Kodak CCD facility).

So we are seeing few CCDs being manufactured and so commercial camera companies are moving away from them (to CMOS only).  Ideally we want a product line which will be supported long term…

[2020-08-31 19:38] dsand opened #17 "New 90Prime shutter"
There are funds in the budget to replace the original 90Prime shutter, which is still in use and has been worked on over the years.

I believe this is the company: [Bonn shutter](https://www.bonn-shutter.de/)

Here is a 200mm shutter they sell: [200mm shutter](https://www.bonn-shutter.de/200x200.php)

Although it does not look like the shutter in the 90Prime SPIE (attached)
![Uploading Screen Shot

[2020-08-31 19:39] dsand commented on #17
![Screen Shot 2020-08-31 at 12 35 43 PM](https://user-images.githubusercontent.com/9013064/91759683-e9dde580-eb86-11ea-89c7-efcc28dfb8f4.png)

This time with 90Prime shutter image from SPIE paper properly attached.

[2020-08-31 20:33] dsand opened #18 "Find climate-controlled space for computer rack"
Both Team Sand and CSS would like to house data reduction/analysis computers in the 90-inch dome.  Let us identify a good climate-controlled space to put in a computer rack.

[2020-09-16 15:41] dsand commented on #15
I'm assigning @lund0946 to this.  And reminding him he should start a github repo with what he has so far.

[2020-09-17 17:38] dsand commented on #8
Based on pictures taken of the dewar window, we have decided to replace the dewar window at this point.  The scratches seem deep and refurbishment seems dicey.

Pictures of the dewar scratch are posted here: [90Prime Dewar Window Scratch Pics](https://github.com/so-90prime/90prime/tree/master/picture_repository/90Prime_Dewar_Window).

Thanks to @jhoscheidt for helping out with the pics.

[2020-09-17 17:38] #8 closed, assigned to nobody

[2020-09-17 17:41] dsand opened #19 "Dewar Window Replacement"
Due to the scratch in the current dewar window, we have decided to replace it rather than refurbish it ([see this closed issue](https://github.com/so-90prime/90prime/issues/8)).

This thread will be focused on the replacement process.

[2020-09-17 17:42] dsand commented on #19
Recent email exchange with Chang Jin about costs and options:

Finally I have a cost and schedule estimate for the curved window fab and/or refurbishing.  Bottom line: 8 months and 99K for a replacement window.

#########################

Option 1: Refurbish the existing window

Cost = $53,554
Schedule = 5 month
Scope
Fine grinding and polishing optical surface to the spec
Test plates and material

[2020-09-18 21:26] dsand commented on #19
Initial quote was wrong.  I'm putting in the new figures here.

Here is an updated figures. Confusion had happened in labor estimate. My optician had his labor for both surfaces in one bucket and I doubled that for two separate surfaces. Anyway, labor makes sense but still other elements in the note are quite high.

Option 1: Refurbish the existing window

Cost = $35,503
Schedule = 3 month
Scope
F

[2020-09-18 22:45] dsand opened #20 "Engineering Telescope Proposal for 21A"
Sand will write an engineering telescope proposal for 21A to do tasks for the upgrade.  Likely to perform specific tasks:

1. Testing of new galil and gigabit network
2. Integration of new mountain computers?
3. Specific hardware components?  E.g. new guider and associated software.
4. Mike’s IQ pipeline
5. Data reduction pipeline
6. Some survey/queue operations

Please add anything you think woul

[2020-09-21 15:35] dsand commented on #20
Here is an editable link to the proposal.  I haven't done much on it yet:
https://www.overleaf.com/1419186888hsywcqqhwhym

[2020-09-21 15:47] dsand commented on #19
For reference, I'm inserting a screenshot of the optical design for L4, the dewar window, here.
![Screen Shot 2020-09-21 at 8 47 07 AM](https://user-images.githubusercontent.com/9013064/93789730-11a0f600-fbe7-11ea-92e0-603fab9be3c7.png)

[2020-09-21 17:42] grstafford commented on #12
This is a write-up of most of the issues I've dealt with and it will be evolving as I remember more things.
[90 Prime Status.docx](https://github.com/so-90prime/90prime/files/5257133/90.Prime.Status.docx)

[2020-09-24 14:44] mplesser commented on #17
I spoke with the Bonn shutter folks.  We need to understand if (mechanically) we can use the current style of 200 mm shutters which are "flat".  Specs and drawings are at https://www.bonn-shutter.de/200x200.php.

Can someone in Mountain Ops look at the instrument and determine if we can use a new "stock" Bonn shutter.  I think it is worth using a currently supported Bonn shutter of possible.

[2020-09-24 14:46] dsand commented on #17
Mike -- can you recommend someone at Mtn Ops who can look at this?  Do we think it is Greg?

[2020-09-24 14:51] mplesser commented on #17
Greg knows the shutter best.  The issue is probably mountain access and the physical mounting (bolt locations).  I do not know if that info is easily accessible.

I have asked Bonn for a cost estimate.  They also have a very slightly used (exhibition halls) 200 mm demo unit I am asking about to save money.

From: David Sand <notifications@github.com>
Sent: Thursday, September 24, 2020 7:47 AM
To:

[2020-10-05 16:56] dsand commented on #20
submitted

[2020-10-05 16:56] #20 closed, assigned to dsand, mplesser, pndaly, davner, jenivevepearson

[2020-10-05 16:59] dsand commented on #17
Update from @grstafford:

[2020-10-05 17:18] dsand commented on #17
Further update from @grstafford, and he is working with Joe to find a time to go to the telescope:

[2020-10-05 17:28] dsand commented on #19
Chang-Jin is now collecting quotes from multiple vendors. including TORC and AOS.

[2020-10-05 17:47] dsand commented on #11
@mplesser is collecting quotes on a new dewar.  Any relevant info will be posted here.

[2020-10-05 17:57] dsand opened #21 "Update to 90Prime Software Flowchart"
After discussion, @danavner will flesh out the 90Prime flow chart, in collaboration with others in the group.  Here is v1:

https://github.com/so-90prime/90prime/blob/master/software-diagrams/overview-v1.pdf

[2020-10-06 04:51] davner opened #22 "Investigate PHD2 guiding software for auto guiding"
**This issue is resolved however creating it for our records.**

# Can PHD2 support robotic operations planned for 90Prime?
Quick answer, **Yes**, PHD2 does support auto-guiding through a JSON API to the PHD2 server using what they describe as Event Monitoring.

Using Python, I was able to connect to the PHD2 software, select a guiding profile, auto-select a star, start guiding, and get statistics

[2020-10-06 16:32] davner commented on #22
Closing this issue. PHD2 is a viable option for robo 90Prime.

[2020-10-06 16:32] #22 closed, assigned to davner

[2020-10-07 22:02] grstafford commented on #1
**Greg - Thoughts on Galil Motion Controller**
**PROS:**
1. Familiarity with the controller
2. Used extensively on 90Prime & Mont4K instruments for the last 18 & 16 or so years, respectively.
3. Existing "Galil code"  portable to newer generation Galil motion controllers requiring less development.
4. When properly installed and properly communicated to per manufacturing recommendations/specificat

[2020-10-08 01:44] grstafford commented on #1
**Been working on this for a while and talking with various manufacturers and vendors: Received their help in putting this together. There are many more solutions out there**

**Fully Coordinated Motion Controllers**
**1. Parker ACR7000**  (4 axis of coordinated motion): https://www.parkermotion.com/products/Controllers__7329__30_32_80_567_29.html
a. Servo and Stepper options
b. Uses Ethernet TCP/

[2020-10-08 02:01] dsand commented on #1
Thanks @grstafford.  From your standpoint, do any of these systems have any pros/cons with respect to the galil system?

[2020-10-08 03:53] grstafford commented on #1
I would say they all have equal pros and cons depending on who you ask. Engineers get used to using certain hardware and that allows them to make better use of them to get the job done. The basics are pretty much universal. These days there are so many options available in some form or another. I do not have specific experience using the Parker multi-axis units, but I do for their single drives. I

[2020-10-08 16:31] davner commented on #21
V2 is in final review passing Phil Daly's inspection and awaiting CJ's approval.

[2020-10-08 16:41] dsand commented on #21
should we post v2 at https://github.com/so-90prime/90prime/blob/master/software-diagrams/ ?

[2020-10-08 16:43] davner commented on #21
Yea it will appear there as overview-v2.pdf

[2020-10-08 18:23] davner commented on #21
The diagram has been uploaded in commit: f018323

[Direct link here](https://github.com/so-90prime/90prime/blob/master/software-diagrams/overview-v2.pdf)

[2020-10-08 18:23] #21 closed, assigned to mplesser, pndaly, davner

[2020-10-08 19:20] mplesser commented on #11
A new dewar with cart has been ordered from Universal Cryogenics.  We should have it in January.  No window is included.

[2020-10-19 12:52] dsand opened #23 "Update to software v2 diagram: Add in boxes for PHD2"
Based on our software meeting on Oct 16 2020, we discussed adding in boxes associated with the PHD2 guiding software communicating back with the telescope.

[2020-10-19 12:52] dsand commented on #23
https://github.com/so-90prime/90prime/blob/master/software-diagrams/overview-v2.pdf

[2020-10-19 12:55] dsand opened #24 "Update to software diagram v2: Lesser comment on science camera and azcam"
During the software meeting on Oct 16, Lesser commented that there was an ethernet cable from the science camera to AZcam, and this was not properly represented in the software diagram.  CJ mentioned something about extending the salmon client box associated with this.

I realize I'm not explaining this well, but I'm getting this down so we don't forget.

https://github.com/so-90prime/90prime/blob

[2020-10-19 17:53] #11 closed, assigned to dsand, mplesser

[2021-09-08 17:26] dsand commented on #7
I believe Greg Safford replaced this some time in Spring 2021.  I'm closing this.

[2021-09-08 17:26] #7 closed, assigned to nobody

[2021-09-08 17:28] dsand commented on #10
I believe Bruce has acquired enough drawings of the focus mechanism that he has some idea of what is going on.  I'm closing this.

[2021-09-08 17:28] #10 closed, assigned to dsand

[2021-09-08 17:29] dsand opened #25 "Get Griffin certified on 90Prime and telescope."

[2021-09-08 17:32] dsand commented on #19
Have not been keeping up with this.  But new dewar window is complete, with AR coatings, and delivered to M. Lesser.
Closing.

[2021-09-08 17:32] #19 closed, assigned to dsand, mplesser

[2021-09-09 16:01] #1 closed, assigned to nobody

[2021-09-09 16:02] davner commented on #3
Putting on hold indefinitely for now.

[2021-09-09 16:02] #3 closed, assigned to nobody

[2021-09-09 16:43] davner opened #26 "90Prime Flatfield Automation and GUIs"
# 90Prime Flatfield

## Hardware
When commissioning the gui, we discovered there was enough noise to turn on and off the lamps without user input. Jeff R. has made changes to the hardware to stop this.

## Software
### Web app
Have a web app built to control the flatfield lights. Have tested it and works.

### INDI driver
Need to write an indi driver to control the flatfield lights. I recommend in

[2021-11-18 04:32] dsand commented on #25
Griffin is certified.

[2021-11-18 04:32] #25 closed, assigned to griffin-h, dsand

[2021-11-19 02:42] dsand commented on #24
Dan says close it.

[2021-11-19 02:42] #24 closed, assigned to mplesser, davner

[2021-11-19 02:43] dsand commented on #17
We have ordered a new shutter.  The currently active shutter will serve as a back up.

[2021-11-19 02:46] dsand opened #27 "LVDT tolerance functionality for the new GUI"
The 'old' gui has a feature where one can specific a tolerance when one makes a 'Go To LVDT Vals' command.  The LVDTS will get close to their commanded position, but it often takes several tries to get really close to the commanded values.  The tolerance field lets you specify how close the value should be.

The new gui does not have this functionality yet, but it could probably be accomplished by

[2021-11-19 02:49] dsand commented on #26
Just an update here.  We now have flat field lamps that are controllable via a GUI on Bart.  The next step is to put this into Dan's new GUI.  I will leave this issue open.

[2021-11-19 02:55] dsand opened #28 "New Guide Camera Mounting -- Next Steps"
On Nov 17, 18 we successfully mounted the new guide camera with cabling.  Everything fits throughout the focus travel range.

Next, we are a little concerned about heat buildup in the top box.

1. We will run the guider hard, taking lots of exposures with the TEC engaged.  Does it get hot?
2. If it gets hot, is there a way we can expel the heat and not let it build up in the top box?

Let's docume

[2021-11-19 02:56] dsand opened #29 "New 90Prime Logo"
Jeniveve is on the case.

[2021-11-19 03:27] dsand commented on #15
I think I'm going to re-assign Griffin to this issue.  He is going to write the image quality pipeline, and he has some aspects of it working.  A decent description of the IQ pipeline is in the Operations Plan:
https://docs.google.com/document/d/1OZaBQWCWEBuuUef1vsO267xQi8jbTqFPYP6kNZargxA/edit?usp=sharing

[2021-11-19 03:49] dsand opened #30 "Gigabit network upgrade on 90-inch for 90Prime upgrade"
The new CCD controller will require a gigabit connection on the 90-in telescope itself.  Assigning to CJ, he has already purchased equipment.

[2021-11-22 19:58] dsand opened #31 "Filter wheel holders -- next steps"
New filter wheel guides/holders have been installed and appear to be working well.
Next steps:
0. Use these holders this run, and if there are no issues we can --
1. Dave and Joe will identify the 'most common' filters used, and replace the holders on those.
2. Joe will arrange to get the lens assembly cleaned.  From then on, we will monitor for any signs of the 'brass shavings' returning.

[2021-11-22 20:00] dsand commented on #30
After 90Prime meeting on 11/22, it sounds like a next step is to put some of this equipment on the north plate when possible.

[2021-11-22 21:28] dsand opened #32 "User documentation for new 90Prime gui"
We need to start documenting Dan's GUI for users.  During the 11/22 group meeting, Dan mentioned incorporating help pages directly into the GUI.

Dave and Dan should coordinate on this.

First action item: Dave will set up a time to meet with Dan.

[2021-11-22 21:57] dsand commented on #28
After 11/22 90Prime meeting, another goal on the critical path is to make sure the guider can be focused on sky at the 90-inch.  What will this take?
PhD2 on bart?  mounting of raspberry pi on north plate?

Dave will send an email to nail this down.

[2021-11-22 22:22] dsand opened #33 "New Higher-Resolution Monitors for 90prime computer"
At 11/22 meeting, it was suggested to buy new high-res monitors that will fit under the 90-in control room shelving.
The monitors Dave has are:
https://www.amazon.com/SAMSUNG-inch-UJ59-monitor-LU32J590UQNXZA/dp/B07CS3JGPC/ref=asc_df_B07CS3JGPC/?tag=hyprod-20&linkCode=df0&hvadid=312727440900&hvpos=&hvnetw=g&hvrand=10074390776554813975&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1013

[2021-11-22 23:26] davner commented on #33
👍🏽 from me!

[2021-11-22 23:27] #23 closed, assigned to davner

[2021-11-23 04:36] davner commented on #32
We are meeting 11/23 at noon to discuss GUI.

[2021-11-23 04:44] davner opened #34 "Understanding the guider filter wheel"
After discussing with Mike L. and Greg S. I have an understanding of how we need to proceed with the Guider filter wheel.

The GFWINIT command sends the filter wheel 2 positions forward and I believe returns a value that corresponds to the position. (Note: it may be a second command that reads the position).

The filters in the guider fw need to be in a file in the order they are in the wheel. The

[2021-11-23 04:45] davner commented on #34
Greg S. also said

[2021-11-23 04:48] davner opened #35 "Add flatfield indi driver to the 90prime GUI"
We need to add in the flatfield GUI to the 90prime GUI.

[2021-12-02 15:45] dsand commented on #28
Dave can run guider on his laptop.  Ran it for ~2 hours yesterday and it did not get very hot.  Need a dedicated machine to run it over night.

[2021-12-02 15:46] dsand commented on #28
Another next step: Exercise guide camera on 21".
Will schedule evening with CJ, Griffin.

[2021-12-03 13:35] dsand commented on #32
Discussion at 12/2/2021 meeting suggested we implement 'tool tips' pop-ups for documentation on buttons.  And possible add nominal plane values to the appropriate buttons as a tool tip.  Adding Phil Daly to the assignee list to help look into this.

[2021-12-03 13:38] dsand commented on #34
From 12/2 meeting: Phil Daly will review Mike Lesser's ascii code for the guider filter wheel gui and possibly confer with Mike regarding any misalignment.  Adding Mike as an assignee here.

[2021-12-03 13:40] dsand opened #36 "FITS Header Keyword suggestions"
This will be a good place (or a google doc link off of here) to put in fits header keyword suggestions for 90Prime.

[2021-12-03 14:21] davner commented on #32
It's reasonable for me to build a generic tooltip that can be used for all GUIs. I will do this either before or during the next engineering run.

[2021-12-03 21:15] griffin-h commented on #36
From the November engineering run log:
1. Numbers should be stored as numbers (not as strings)
2. Instead of  `FOCUSVAL= '*0.527*0.566*0.527' / Focus` Can we have
[code]
3. For focus frames we should list list initial LVDT values, step size, and number of steps
4. Do not put `/` in header comments.  It terminates the comment.  See, e.g.:
[code]

[2021-12-13 13:34] dsand commented on #28
1. Ran guide camera over night in ARTN lab at -20 C.  Barely got warm.
2. Spent some time on Dec 9 at the 21".  Verified that we could guide on sky.  Minor victory!
3. Dave will read some directions and make dark/flat calibrations for guider.

[2021-12-15 23:25] dsand opened #37 "INDI code on bart is buggered after OS update."
quotes from Phil.  Do not want to lose this thread.

[2021-12-16 22:05] dsand commented on #37
Update.  @pndaly thinks this could be a gclib issue and will investigate.

[2021-12-16 22:18] dsand opened #38 "Dan's GUI does not run on updated bart OS"
Here is Dan's reply on slack:

assigning to @pndaly.

[2021-12-17 04:21] dsand opened #39 "Investigate PHD2 install on bart and artn desktop"
Image downloads from the new guide camera are slow on these two machines, while it is speedy on @cjastro 's desktop.  The suspicion is that binning is not working on the bart/artn installs.

@cjastro will investigate.

[2021-12-17 04:37] dsand opened #40 "Hardware preparation for guide camera installation"
@jhoscheidt and John Morris have a plan for new guide camera installation.
1. they have prepared plate templates and will get them machined.  These will be for the raspberry pi and power supply.
2. they will request electrical help for wiring the guide camera to the components listed above and associated power and network.
3. anodize materials to lower reflectively, after confirming the fit and la

[2022-01-03 18:12] dsand opened #41 "New shutter for 90Prime"
The new shutter for 90Prime was received in late 2021.  This thread will document installation.

[2022-01-03 18:56] dsand opened #42 "Guide camera temperature in top box enclosure"
One concern with the new guide camera, which is air-cooled, is that it will heat up the top box during observing and affect image quality.

this thread will document efforts to a) determine if this is an actual problem, and b) any steps taken to mitigate it.

[2022-01-03 18:57] dsand commented on #42
First step: @jhoscheidt and @griffin-h ran the guider at roughly -25 deg C in the enclosure for an afternoon, and noticed a ~10 degree temperature increase in the enclosure.

[2022-01-03 19:13] griffin-h commented on #42
Just to be super clear, this is a 10°F increase.

[2022-01-03 19:19] dsand commented on #41
At 1/3/2021 meeting @grstafford indicated that this could be installed mid-January, and prior to the 90Prime engineering run (Jan 22).

[2022-01-06 15:41] dsand opened #43 "New dewar fit test"
We would like to check the fit and clearance of the new dewar, hopefully during the Jan 22, 23, 24, 25 engineering run.
This thread will document that and closely related issues.

[2022-01-06 15:42] dsand commented on #43
Thoughts from Joe in 1/4/2022 email:

[2022-01-06 16:28] pndaly commented on #37
OK, after the Xmas break I took a look at the code. I think gclib is exonerated as things are now working OK with the independent Galil_DMC_22x0_CLI code (which has gclib dependencies only and is nothing to do with INDI). I rebuilt the
INDI driver and it still failed so I dug into the code. Since the failure is a 'child process termination', it smacked of a memory violation. I isolated the line(s)

[2022-01-06 16:28] #37 closed, assigned to pndaly, cjastro

[2022-01-06 16:38] pndaly commented on #38
Logging in as mtnops@bart:

% python3
Python 3.5.2 (default, Jan 26 2021, 13:30:48)

% conda activate
% python3
Python 3.8.8 (default, Apr 13 2021, 19:58:26)

So, the conda environment does give you v3.8 which is better because I use 'f-strings' in my code which were introduced in v3.6.

However, you *don't need* v3.8 to run the (indi) driver in normal operations as it just loads all the compiled

[2022-01-06 16:42] mplesser commented on #36
All exposure should now have the LVDTA, LVDTB, LVDTC keywords (type float) in addition to the existing FOCUSVAL string keyword (which include the *).

A focus image should now also have FOCSTART (type string with the *), FOCSTEP (type float), FOCSHIFT (type int).

The slashes come from user defined templates, these all have to be manually edited.

[2022-01-06 17:06] davner commented on #38
I went on Bart this morning and started the service for the GUI. It is disabled and does not auto start.

`sudo systemctl start mtnops.pyindi.service`

If you navigate to `10.30.1.2:5905/ninety-prime` I see the GUI partially built. This requires the indiserver to be started for the entire GUI to appear.

I don't think anything is wrong...

[2022-01-06 18:44] pndaly commented on #38
OK, just did a quick test: started the bokGalilIndiDriver and then Dan's GUI. GUI gets populated and I think the *red* banners are because the shared memory segments are simulated (since the hardware is turned off). I'll try to attach the screenshot:
![bokGalilIndiGUI](https://user-images.githubusercontent.com/10948246/148434470-1f9d6da5-7a18-45cd-9264-1e3839d3db08.png)

[2022-01-06 18:57] grstafford commented on #41
New 90Prime Bonn Shutter. Image attached
![New Bonn Shutter](https://user-images.githubusercontent.com/70164691/148436003-cb992bcb-5ce4-43c4-88c8-ef71db04ec49.jpg)

[2022-01-06 20:09] #38 closed, assigned to pndaly

[2022-01-13 15:24] dsand commented on #40
Update for Jan 22, 23, 24, 25 run.  We will mount the new plate for the run.  If successful (this is also contingent on getting the camera focused during the run), we will get materials anodized and the whole package finalized.  Plan from Joe:

[2022-01-13 15:33] dsand commented on #31
The new filter holders seem to be working well, and have been put on all of the commonly used filters.  I am going to close this issue and start a new one for verifying that the 'brass shavings' issue has been resolved.

[2022-01-13 15:33] #31 closed, assigned to griffin-h, dsand

[2022-01-13 15:40] #17 closed, assigned to dsand, mplesser, davner, grstafford

[2022-01-14 00:19] dsand commented on #43
Update.  The plan is to do a fit test on Jan 24.  The plan, as relayed by @jhoscheidt is below.

[2022-01-14 12:52] dsand opened #44 "Determine if 'Brass Shavings' issue is resolved"
One issue with the old 90Prime filter wheel holders is that brass shavings would flake off of them, and get into the lens assembly.
We have now installed new filter wheel holders with a different material that should not flake off: [Issue #31](https://github.com/so-90prime/90prime/issues/31) .

To determine if the brass shavings issue is now solved, we should clean the lens assembly at some point

[2022-01-20 18:02] dsand commented on #41
As of Jan 20, 2022 90Prime Software meeting the new 90Prime shutter has been operating for several days.

If nothing happens through the 90Prime engineering run, I will close this issue.

[2022-01-20 18:10] dsand commented on #39
CJ has found the binning issue with the new guider.  One should control the binning under the 'brain' icon (Advanced Settings)
![IMG_2203](https://user-images.githubusercontent.com/9013064/150396677-ee824753-cf23-4c0f-91e5-777bee081f48.jpg)
as in the screen shot (note where the cursor is pointed).

[2022-01-20 18:11] dsand commented on #39
Note, DO NOT use the other possible settings for the binning (see screen shot).  This will work for one image, and then revert back to 1x1 binning.  This is not ideal, but I do not think we're going to edit the relevant phd2/indi code.
 I'm closing this issue for now
![IMG_2204](https://user-images.githubusercontent.com/9013064/150396985-039c6b83-360b-47e8-800b-e46b25085e23.jpg)
.

[2022-01-20 18:11] #39 closed, assigned to cjastro

[2022-01-20 18:23] dsand opened #45 "Write INDI driver to talk to the 90" mount"
We need this so that the new guide camera can control the mount....so we can actually guide!

@cjastro says this is a 2-3 hour job and that he will tackle it on Monday Jan 24.

[2022-01-23 08:10] pndaly commented on #32
Not sure I understand how to use the generic tooltip stuff but I discovered a class called "hover-me" which uses the "title" attribute to provide tooltips. It seems to work OK although the colours are poor on some screen(s). Still, they work so they will do for now.

[2022-01-23 17:30] dsand opened #46 "90Prime gui displays some sluggishness"
The new 90Prime gui is great, but we do notice that it takes a while to refresh if you have been away from the browser tab for even a short while.  It sometimes requires a reload.

@pndaly has volunteered to look into this a bit.

[2022-01-25 05:25] dsand commented on #43
Update: we had a successful day of fitting the new dewar.  Short version: the dewar fits.  we slewed the telescope throughout the dome and there were no collisions.  There is a small brush with a cable when one of the cranes is deployed, but this is also an issue with the current 90Prime and we will ignore that here.

Some pictures can be seen [here](https://github.com/so-90prime/90prime/tree/mast

[2022-01-25 05:25] #43 closed, assigned to dsand, mplesser

[2022-01-25 19:36] dsand commented on #40
Update on this.  Plan for tonight (Jan 25, 2022) is to load the new north plate electronics and network onto the telescope. and new guide camera.  Attached is picture of the new north plates (they still need to be anodized).
![Uploading NPlate_notmounted.jpg…]()

[2022-01-25 19:37] dsand commented on #40
![NPlate_notmounted](https://user-images.githubusercontent.com/9013064/151047152-bc800ff0-30a9-4f02-99bb-5ef268343e32.jpg)

[2022-01-25 19:39] dsand commented on #28
Jan 25, 2022 update.  Plan tonight is to install the guide camera on the 90-in, and focus.  After that, we will learn to guide with the new system.

[2022-01-25 19:41] dsand commented on #36
We are going to test out the new guider keywords during the Feb 2022 engineering run.

[2022-01-25 21:46] dsand opened #47 "Build dark frame library and bad-pixel maps in PHD2 with new guider."
There are straightforward instructions in the [PHD2 manual](https://openphdguiding.org/PHD2_User_Guide.pdf).

[2022-01-26 17:40] dsand commented on #34
I'm staring at this thread a bit, and I think it means we still do not know which guider filter was in which slot last night.  Is that your read too, @jhoscheidt & @pndaly ?

[2022-01-27 04:09] dsand commented on #41
The shutter worked perfectly during the run.  Closing this issue!

[2022-01-27 04:09] #41 closed, assigned to grstafford

[2022-01-27 13:29] dsand commented on #45
@cjastro did a good job of this, and we were able to guide with the new camera.  I will check in with him if there is anything more to be done before closing this issue.

[2022-01-31 16:55] dsand commented on #40
This is working well.  I believe the final remaining step is to get the plates anodized and tape over any lights.

[2022-02-01 03:55] dsand commented on #30
Installed and working as of the Jan 2022 engineering run.

[2022-02-01 03:55] #30 closed, assigned to dsand, cjastro

[2022-02-01 18:28] dsand commented on #34
Copying an email from @pndaly as he dives into the Galil code here:

"GFILTN=2; XQ #GFWMOV;" ... we know this works (after initialization) as it does move
the filter wheel. However, there does not seem to be any read back so it gets to an​ Oriel
filter wheel position and we assume it's the correct one.

[2022-02-01 18:29] dsand commented on #34
Next step is to do @pndaly 's suggestion:

[2022-02-03 06:48] davner commented on #34
Whew that is quite the read! Nice discovery!

[2022-02-03 06:56] davner commented on #46
I believe I have a lead.

When log messages come in, I created a `p` element and populate it with the message. Then I append it to the log window. This log window has its height calculated and scrolled to the bottom so that it keeps the newest message at the bottom and the older messages shifted upwards.

I didn't have a limit of messages stored in the log window. After time, this could have thous

[2022-02-03 13:14] dsand commented on #15
Maybe @griffin-h can update this at some point.  OR, close it and start new more relevant issues for the BANZAI-based pipeline?

[2022-02-03 13:19] dsand opened #48 "Final elimination of the galilserver/fw-gui forever"
The issue discovered during the Jan 2022 run is that Azcam pulls header keyword information from the old galilserver/fw-gui.  So we need to work with @mplesser to replace this functionality in Azcam to talk to the new galil code.

[2022-02-03 13:20] dsand commented on #48
Notes in Feb 3, 2022 agenda from @pndaly

[2022-02-03 17:47] griffin-h commented on #15
I made a lot of progress installing and customizing [BANZAI](https://github.com/so-90prime/banzai/) and its associated services during the last engineering run. I left installation notes in the [engineering run log](https://docs.google.com/document/d/1z3C14lIzqx9KxY303nFv8pvHa_GJ9qtSxOojOP2IN2M/edit). I didn't get the astrometry.net indices and ATLAS photometric catalog until late in the run, so i

[2022-02-10 03:32] dsand commented on #34
Update from an email that @pndaly wrote on Feb 8, 2022.  This involved @jhoscheidt and John Morris looking at which filters were in, while Phil moved the wheel.

  Filter   | GFILTN | FNUM_IN | FNUM | SNUM_IN | SNUM | Eyeball

                                  7                0

   green       1         1        1       1        1      5

   open        2         2        ?       3        3

[2022-02-10 03:33] dsand commented on #34
Adding some screenshots of tables that did not come out quite right in the previous comment.

<img width="622" alt="Screen Shot 2022-02-09 at 8 33 19 PM" src="https://user-images.githubusercontent.com/9013064/153332126-116ee6a8-96d2-4316-b0bd-a56a82452701.png">

[2022-02-10 03:34] dsand commented on #34
And another.

<img width="704" alt="Screen Shot 2022-02-09 at 8 34 11 PM" src="https://user-images.githubusercontent.com/9013064/153332235-dd88adfa-0a93-434f-aa42-9608a3ba7005.png">

[2022-02-10 03:35] dsand commented on #34
Further note from @jhoscheidt in the same email thread:

[2022-02-10 13:29] dsand commented on #40
One thing we are trying for the Feb 2022 run: Adding in a small space to help with focus of guider in all filters.

[2022-02-10 13:32] dsand opened #49 "Add in Az/El functionality into observe script associated with Azcam"
@griffin-h and @mplesser have been going back and forth about adding in Az/El coordinates to the standard observe script run alongside Azcam, which normally only takes RA/Dec inputs.  This will be useful for mapping focus across the sky.

Will keep track of progress here in terms of the 90Prime project, although the observe code has its own repo.

[2022-02-11 20:05] dsand commented on #47
starting dark library with 4x4 binning and the attached parameters.  see picture.
![IMG_2263](https://user-images.githubusercontent.com/9013064/153662245-c67faa3c-2e82-41f7-a41b-615dec4452d7.jpg)

[2022-02-15 07:41] dsand commented on #47
we have been using the dark frame library and it seems to be working well.  I'll close this one.

[2022-02-15 07:41] #47 closed, assigned to dsand, cjastro

[2022-02-15 07:50] dsand commented on #34
Update on guider filter wheel, 2/14/2022.  Able to send guider filter wheel commands through an INDI panel.  Easy to cycle through the filters and establish focus.  Tonight the values were:
​​

Will check focus further tomorrow.  Will report back.

[2022-02-16 03:44] dsand commented on #45
@cjastro would be able to fill in more details, but while working with the new guide camera, we discovered a small bug in this code that was causing guide camera moves of only integer arcsec values.  Obviously, this is not ideal, but CJ has fixed the bug.  We look forward to testing it on sky.

[2022-02-16 03:44] dsand commented on #45
CJ also made a new indiserver autoguider icon on bart's desktop for easy setup and running of the new guider.

[2022-02-16 03:48] dsand commented on #49
on the 2/15/2022 engineering night, we test the azcam function telescope.move_azalt(az, alt) which will take an Az, Alt coordinate, translate it to an RA, DEC for a given time, and then slew the telescope there.  This is a critical first step prior to getting this functionality into the standard observe script.  A typical call might look like this:

[2022-02-16 03:52] dsand commented on #36
Progress from the Feb 2022 run.

1. Edit to CRVAL1 and CRVAL2 header keywords based on a bug Mike found.
2. The LVDTA, B, C keywords look good and seem to be reporting correctly, and are in sync with the FOCUSVAL keyword.
3. The FOCSTART, FOCSTEP, FOCSHIFT and FOCSTEPS all report in focus image, and the numbers seem correct.  There are still some issues with the int/float/string typing of these va

[2022-02-16 03:55] dsand commented on #40
Feb 2022 update: A spacer was put into the guider to move the focus closer to the middle of range of travel.

[2022-02-16 04:09] dsand opened #50 "Guiding with new guide camera: Next steps"
During Feb 2022 run, we made good progress on guiding with the new camera, but also found and fixed a bug that we did not fully get to test on sky.  This issue is to track future progress on guiding and learning to guide with phd2.

@cjastro and I discussed and we agree the next steps were:

1. Test new code that allows for fractional arcsecond moves (this was the bug fix mentioned above).
2. Use

[2022-02-28 16:46] dsand commented on #49
Just an update here.  During the Feb 2022 run, we were able to get the new 'move_azalt' function to run, after a little debugging.  @griffin-h  did a little editing on the mountain, so hopefully that version is on the 'main branch'.

The next step is to incorporate this into the GUI version of 'observe', @mplesser's utility.

[2022-02-28 16:49] dsand commented on #45
Since we were not able to test this on-sky, we want to test the fix to the 'integer arcsec' bug during the April 2022 engineering run.

[2022-02-28 16:52] dsand commented on #40
Update.  We would like to test out the guide camera spacer and focus a little bit more before we consider this 'settled'.  Also will need to anodize the new north plate.

[2022-02-28 17:41] dsand commented on #15
@griffin-h continues to make strong progress on the image quality pipeline.  It now runs on incoming 90Prime data.  Griffin is working on optimizing it a little bit, and to plot up data quality metrics in near real time.

[2022-02-28 17:49] dsand commented on #30
Update: will keep this open until we are happy with network speeds when the new camera comes online.

[2022-03-03 18:32] pndaly commented on #48
Met with CJ, Scott and Dan after the s/w meeting this morning. We ironed out a path forward and Dan/Scott are happy to help. Both points (b) and (d) were discussed and both have merit so we have decided to follow (b) as Plan A and (d) as Plan B. The reason we need a 'Plan B' is we're not sure how and asynchronous class would integrate into Mike Lesser's code. A follow up meeting will be held to ch

[2022-03-03 18:33] pndaly commented on #46
Met with CJ, Scott and Dan after the s/w meeting this morning. The idea of separating out the pyindi infrastructure code and clients was discussed and will be followed up.

[2022-03-10 13:20] dsand commented on #34
As far as the guider filter wheel goes, I believe we understand what is going on.  Future issues may focus on nudging users to keep an Open filter in the light path, as well as any focus issues that might come up (none so far).

[2022-03-10 13:20] #34 closed, assigned to mplesser, pndaly, cjastro, davner

[2022-04-10 22:32] dsand commented on #40
Will check in on focus during April 19, 20, 21 run.

[2022-04-10 22:32] dsand commented on #45
Will check on 'integer arcsec' bug on April 19, 20, 21 2022 run.

[2022-04-10 22:36] dsand commented on #46
@davner has a solution for this which will be tested out on the April 19, 20, 21 engineering run.

[2022-04-10 22:49] dsand commented on #50
Will work on this during April 19, 20, 21 2022 run.

[2022-04-10 23:18] dsand commented on #32
@dsand started a [google doc for documentation](https://docs.google.com/document/d/1Nk-lc94_NF1gq82sJeqjO_jlk8Xo2KBz9kwW7xHGT9U/edit?usp=sharing) of the new GUI.
Will take a look at it during the upcoming April 2022 engineering run.

[2022-04-10 23:22] dsand opened #51 "Put guider filter wheel into new GUI"
Putting the guider filters into the new GUI may make some engineering tasks easier.

It might make sense for this to be a 'pop up' feature or something hidden from view from the normal user, but accessible if they want it.

[2022-04-20 01:58] dsand commented on #40
North plate is anodized.  Will check on the situation with anymore 'Xmas tree lights' tomorrow with @jhoscheidt .

[2022-04-20 02:03] dsand commented on #28
I think I'm going to close this issue.  We have an open issue for figuring out the best set of parameters to guide with the new camera [here](https://github.com/so-90prime/90prime/issues/50).
We have a dark library for the new camera.

I think this issue has served its purpose.

[2022-04-20 02:03] #28 closed, assigned to griffin-h, dsand, cjastro

[2022-04-20 03:21] dsand opened #52 "Calculate zeropoint in all filters with 'old' 90Prime"
Will do this with data from April 2022 run.

Good standard star fields at the beginning of the night are [here.](https://noirlab.edu/science/programs/ctio/instruments/Dark-Energy-Camera/User-Guide/Photometric-Standard-Stars)

[2022-04-20 06:50] dsand commented on #46
@davner has implemented a fix to the sluggish gui.  we will try it out during the run and report back here.

[2022-04-20 06:54] dsand commented on #51
@davner implemented this during the night of 4/19.  Closing!!

[2022-04-20 06:54] #51 closed, assigned to dsand, pndaly, davner

[2022-04-20 17:03] dsand commented on #16
After some brainstorming (April 19 2022), we decided we may need two computers and one NAS disk storage system.  One computer would run 90Prime, and the data would go to the NAS disk.  The second computer would run BANZAI and provide IQ data to the observer.  It should be a little beefier.  And it could serve as the backup to the 90Prime computer in a pinch.

Thoughts: Should make sure new 90Prime

[2022-04-20 17:55] dsand commented on #49
Note from @mplesser today says we can test functionality of this tonight.  I'll first use this test catalog that Mike provided:

[2022-04-22 06:30] dsand commented on #52
Data was taken tonight, should be sufficient for getting a zeropoint.

[2022-04-22 06:32] dsand commented on #49
We were able to load several catalogs with Az/Alt information and the telescope slewed to those parts of the sky while changing filters, etc.  This was using the 'observe' GUI of @mplesser.

I am going to close this issue for now, but will reopen if any issues come up related to this.

[2022-04-22 06:32] #49 closed, assigned to griffin-h, mplesser

[2022-04-22 06:38] dsand commented on #45
The 'integer arcsec' bug appears to be resolved.  Will close this issue for now.

[2022-04-22 06:38] #45 closed

[2022-04-22 06:40] dsand commented on #48
The new NG-server is working well, both on @pndaly 's end and @mplesser 's with Azcam.  As of April 21, we did fix a filter related bug, so I will keep this open for another run or two in case we need to iron out further things.

[2022-04-22 06:46] dsand opened #53 "Simplify startup procedure for 90PrimeGUI and website"
The current startup procedure requires a mtnops password, and the running of some scripts.  The plan is to simplify this and make it so that someone like Joe can simply start up the gui for a 90Prime run.  Dave does not understand the details, and will rely on @pndaly and @cjastro to bring this home!

[2022-04-22 06:47] dsand commented on #46
The gui performed well.  No more sluggishness!  I think we will keep an eye on this through the next run before closing this issue.

[2022-04-22 06:50] dsand commented on #50
We were able to get some on-sky guiding time in.  We were able to quickly calibrate the guider, and guide on stars in two fields before we had to close for wind.  This is promising, but we will spend more time on this in future runs.

[2022-04-22 06:52] dsand commented on #27
I am closing this, as we have an [open issue](https://github.com/so-90prime/bok-90prime-gui/issues/2) for this in the bok-90prime-gui repo.

[2022-04-22 06:52] #27 closed, assigned to pndaly, davner

[2022-04-28 16:46] dsand commented on #16
One other requirement we should consider.  I want us to buy all of the necessary equipment so we do not have to shut the new computers down for 'lightning shutdown'.

[2022-05-03 14:23] dsand opened #54 "Prep for June 2022 run and use of new dewar and 6K chip"
I will start this thread off with a copy of Joe's email to @mplesser from May 2, 2022.

[2022-05-12 04:21] dsand commented on #16
Here is a [link](https://docs.google.com/spreadsheets/d/1oUyofoTTV-epGY0RK5o_s3X5FA0lqFqy/edit?usp=sharing&ouid=112166443502142977413&rtpof=true&sd=true) to @pndaly's computing plan in detail, with prices.

[2022-05-13 14:42] mplesser commented on #54
How does the new camera power supply mount? Is it the same size as the old one? Does it need to be mounted to g-10? The old camera power supply has a grounding wire running from it to an isolated outlet on the north plate. Does the new one need this?
Will there be a new camera cable from the power supply to the camera? If so, do you need measurements of the old one? I cannot remember if we measure

[2022-05-23 20:41] dsand opened #55 "Move 90Prime computing to 2nd floor office?"
Due to space and noise limitations in the control room, it probably makes sense to move 90Prime computing to the 2nd floor office (where the microwave is!).  To do this, we must a) ensure that there is a gigabit internet connection to that office, and b) if there is not we can put the necessary fiber/cable in.  This issue will keep track of this process.

[2022-05-26 13:57] dsand commented on #54
From Gary R. on May 25:

Bonn shutter driver to the old 90prime camera controller connectors, 10.5'.
New network switch to the old 90prime camera controller connectors, 11'.
You should add at least 6" to these measurements to make sure there is no stress on any of the connectors.

[2022-05-26 14:13] dsand commented on #16
Much progress has been made here, and I have missed some details.  At this point some things like the NAS disk system have been ordered.  One issue that we are still investigating is where the new system will sit, physically.  Here is an email from @pndaly that captures the situation and our investigation path:

the 90Prime upgrade. Apologies in advance if this message sounds somewhat dictatorial

[2022-06-14 03:14] dsand opened #56 "90Prime Dewar+6K run Jun 2022; to-do list and comments"
From Mike Lesser:

Things to watch with new 90prime system

- Gap between image sections as seen on sky
- FITS header
- Any communications loss
- Ghosts (no internal focal plane mask for this run only)
- Signs of condensation (no getter for this run only)

(new issue) There are bad columns in the sensor which I expected to freeze out but have not.  I will continue to optimize.

There are three rea

[2022-06-19 16:57] dsand commented on #54
Will close this since June 2022 run did not happen.  Will open new issues if any of the above points come up again.

[2022-06-19 16:57] #54 closed, assigned to dsand, mplesser

[2022-06-19 17:01] dsand opened #57 "Summer 2022 to-do list"
Discussed at June 16, 2022 Software meeting.  Let's add things and document progress here and in related issues.
Once the the KP fire is behind us, P. Smith suggests we can spend time on the mountain to make progress during the shutdown.

1. Set up new 90Prime computing on the mountain. Related [issue](https://github.com/so-90prime/90prime/issues/55).
2. Test electronics, network, connection, etc

[2022-08-19 02:26] dsand opened #58 "Office Prep for new 90Prime computers"
Two things need to be done before we can use the 2nd floor office at the 90-in for the new 90Prime computers.
1. Fiber needs to be run down from dome.
2. Electrical capacity.  There is at least one 20amp circuit in the office that may be shared with adjacent rooms.  Is there a second?

We also should pay attention to the temperature in the office, as there is heating but no AC.

Will keep this ope

[2022-09-01 14:46] dsand commented on #55
Closing this issue as issue #58 is more up to date and relevant.

[2022-09-01 14:46] #55 closed, assigned to pndaly, cjastro

[2022-09-01 15:37] dsand commented on #57
Closing this.  Summer is over, and the fire wrecked our plans.

[2022-09-01 15:37] #57 closed, assigned to griffin-h, dsand, mplesser, pndaly

[2022-09-16 16:51] pndaly commented on #58
We know there are 3 x 20A circuits in the room. Fiber has been run down and connected to the newly installed computer rack. Everything is working: rack is much quieter than anticipated and heat output is low. We have the rack in the middle of the floor with the back off. As it is now, we can access all 4 sides easily so. The back has to remain off, though, because of the 4" bend radius on the fibe

[2022-09-16 16:51] #58 closed, assigned to dsand, pndaly, cjastro

[2022-09-16 16:57] pndaly commented on #53
The new computer rack has been installed and the bokGalil, bok-90prime-gui and dataserver github repositories installed and the code built. All of this has been effected under the primefocus account on bonsai and banzai. On the night of 15 September this was tested and first light was achieved with the 6k engineering detector. No privilege is required to run this code. A SOP-document is in prep de

[2022-09-16 16:57] #53 closed, assigned to pndaly, cjastro

[2022-09-22 14:20] dsand opened #59 "move 90Prime computer rack fiber"
The new 90Prime computer rack is meant to be 'always on', even during lightning shutdowns.  However, we plugged in one end of fiber into a router that gets disabled during lightning shutdown.  We need to put that fiber into a router that does not get switch off during lightning shutdown (there is one), and make sure all other network settings are still OK.

[2022-09-22 14:30] dsand opened #60 "Hardware mounting issues from Sep 2022 run"
Issues from Mike and Joe:

1. Modify horseshoe lifting fixture to clear controller
2. Modify lens cap so hose fixtures clear cart
3. Add pin to steady dewar during hoist
4. Configure and use new shipping case
5. Fill wand is a little leaky.

As of Sep 22, 2022 the new shipping case has been configured.  Other issues being addressed.

[2022-10-20 15:54] dsand opened #61 "Determine zeropoint for new guide camera"
I think we should do this for the 'clear' or 'no filter' situation.

[2022-10-20 16:00] dsand commented on #18
I think after we check out the room in the upcoming run, we can close this issue.  Stay tuned.

[2022-10-24 17:41] dsand commented on #59
Fiber has moved.  Will close after the next lightning shutdown when we confirm this worked!

[2022-11-10 15:44] #59 closed, assigned to pndaly, cjastro

[2022-11-13 21:50] dsand opened #62 "Upgrade bonsai/bonzai to Ubuntu 22"
This may have to wait till network is more stable on KP.

[2022-11-28 15:53] dsand commented on #56
Closing this for now.

[2022-11-28 15:53] #56 closed, assigned to griffin-h, dsand, mplesser

[2022-11-28 16:21] dsand commented on #18
Close it.  I think we found a new home for the 90Prime computers.

[2022-11-28 16:21] #18 closed, assigned to alexrgibbs, dsand, pndaly, davner

[2022-11-28 16:23] dsand commented on #40
I think we've used the new north plate for quite a while now.  Close it!

[2022-11-28 16:23] #40 closed

[2022-11-30 23:10] dsand opened #63 "Add environmental header keywords to 90Prime image"
We would like basic weather information in the header of 90Prime images, including dome temperature, wind speed, relative humidity, etc

We understand that this is a bigger task that may require some Mtn Ops infrastructure, but it will be important info for observers.

[2022-11-30 23:29] mplesser commented on #63
The azcam code already exists, it was disabled when bokpop went away.  If there is a source again I can reenable…

From: David Sand ***@***.***>
Sent: Wednesday, November 30, 2022 4:11 PM
To: so-90prime/90prime ***@***.***>
Cc: Lesser, Michael P - (mlesser) ***@***.***>; Assign ***@***.***>
Subject: [EXT]Re: [so-90prime/90prime] Add environmental header keywords to 90Prime image (Issue #63)

Exter